{% extends "base.html" %}
{% block style_block %}
    .details-page{
         display: flex;
         justify-content: space-around;
         align-items: center;
         padding: 10px;
         width: 100%;
 
    }
    .detail-image{
        width: 40%;
        align-self: flex-start;
        box-shadow: 0 0 2px black;
    }
    .desc{
        font-size: 22px;
    }
    .product-details{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #f1f1f1;
        box-shadow: 0 0 2px black;
        margin-left: 10px;
        align-self: flex-start;
    }

    @media (max-width: 768px) {
        .details-page{
            flex-direction: column;
       }
       .detail-image{
           width: 100%;
           margin-bottom: 20px;
       }
       .product-details{
           width: 100%;
           margin-left: 0px;
       }
    }
{% endblock %}
{% block title_block %}{{product.name}}{% endblock %}

{% block body_block %}
<div class="details-page">
    <img class="detail-image" src="/static/{{product.mainimage}}" />
    <div class="product-details">
        <h4>{{ product.name}}</h4>
        <h4>Price: <span class="price">{{ product.price|floatformat:2 }}&#2547;</span> <span class="old-price">{{product.old_price|floatformat:2}}&#2547;</span></h4>
        <div class="card-button">
            <a href="{%url 'App_Order:add' pk=product.pk%}" class="btn btn-warning w-100"><i class="fa fa-shopping-cart"></i>Add to cart</a>
        </div>
        <u class="desc">Description</u>
        <div style="align-self: flex-start;"> {{ product.description|linebreaks}}</div>
    </div>
</div>
{%if store%}
<a class="btn btn-info w-100" href="{%url 'App_Shop:store_page' pk=store.user.id%}">Visit Store</a>
{%endif%}
{%if coupons|length > 0%}
<h3 style="text-align: center; margin: 15px 0;">Coupons</h3>
{%endif%}
<div class="coupons-preview">
    {%for coupon in coupons %}
    <div class="coupon">
        <h4>Code: {{ coupon.code }}</h4>
        <p class="p-1 mb-0">Discount: {{coupon.discount}}%</p>
        <p class="p-1 mb-0">Expiry: {{coupon.expiry_date}}</p>
    </div>
    {%endfor%}
</div>
{% endblock %}