{% extends "App_Seller/dashboard.html" %}
{%block title_block%}Categories{%endblock%}
{% block dash_block %}
<div class='dash-page'>
    {%if category|length == 0%}
    <h4>No Categories</h4>
    {%else%}
    <h2 style="text-align: center">Categories</h2>
    {%endif%}
    <div class="dash-section">
    {% for cate in category %}
    <div class="category">
        <span>Category: {{cate.title}}</span>
        <a class='btn btn-warning' href="{%url 'App_Seller:update_catgory' pk=cate.pk%}">Edit</a>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
