{% extends "base.html" %}

{%load crispy_forms_tags%}
{%block title_block%}
    {%if edit%}
    Update seller info
    {%else%}
    Create seller info
    {%endif%}
{%endblock%}


{% block body_block %}
<div class="form">
    {%if edit%}
    <h2>Update Seller Information</h2>
    {%else%}
    <h2>Create Seller Information</h2>
    {%endif%}
    
    <form method="POST">
        {{form|crispy}}
        {% csrf_token %}
        <button class="btn btn-success w-100" type="submit">
            {%if edit%}
            Update
            {%else%}
            Create
            {%endif%}
        </button>
    </form>
</div>
{%endblock%}